# Python
__pycache__/
*.py[cod]
*$py.class

# Poetry
.venv/
poetry.lock

# Environment
.env

# Logs
logs/
*.log

screenshots/**/*
*.png
*.jpg
*.jpeg
*.gif

application_state/**/*
downloads/**/*
**/~$navigation.xlsx

# Data
downloads/
uploads/

# IDEs
.idea/
.vscode/
